/* BODY */

body{
    margin:0;
    font-family:Arial;
    background-color:#0f172a;
    color:white;
}

/* CONTAINER */

.container{
    display:flex;
}

/* SIDEBAR */

.sidebar{
    width:220px;
    height:100vh;
    background-color:#061942;
    padding:20px;
}

.sidebar h2{
    color:#9f88d4;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin-top:20px;
    padding:10px;
    border-radius:5px;
}

.sidebar a:hover{
    background-color:#835923;
}

/* MAIN */

.main{
    flex:1;
    padding:20px;
}

/* HERO */

.hero{
    background-color:#495258;
    padding:30px;
    border-radius:10px;
    margin-top:20px;
}

/* CARDS */

.cards{
    display:flex;
    gap:20px;
    margin-top:20px;
    flex-wrap:wrap;
}

.card{
    background-color:#1e293b;
    padding:20px;
    width:200px;
    border-radius:10px;
}

/* TASKS */

.task-box{
    margin-top:20px;
}

.task{
    background-color:#1e293b;
    padding:15px;
    border-radius:5px;
    margin-top:15px;
}

/* MEETING */

.meeting-card{
    background-color:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}

/* ANALYTICS */

.progress-bar{
    width:400px;
    height:15px;
    background-color:gray;
    border-radius:10px;
    margin-top:20px;
}

.progress{
    width:80%;
    height:15px;
    background-color:#8b5cf6;
    border-radius:10px;
}